<!DOCTYPE html>
<html>
    {% extends "layout.html" %}
        {% block content %}
        <div class="home">
            <h1>About me</h1>
            <p>This website was built with Python using the Flask framework</p>
            <p>Work in Progress</p>
            <p>
                My name is Nick Bosio. I am seeking a position as a entry-level software
                engineering. I am a self-taught Python developer. I have a passion for 
                learning about new technologies in order to help develop a sustainable future.
                My ultimate goal is to work on improving public transport. I view public 
                transport as vital to improving the economy, our mental and physical health, 
                and the environment. Please click on my About Page to learn more about me.
            </p>
        </div>
    {% endblock %}
</html>